*{
    margin: 0;
}

.contenedor{
    background-image: url(images/img.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

p{
    font-size: xx-large;
    padding: 15%;
}

button{
    font-size: xx-large;
    padding: 0.75em;
}

#yesBtn{
    transform: translate(-100%,0);
}

#noBtn{
    position: absolute;
}

#nouBtn{
    position: absolute;
}

#ayaBtn{
    transform: translate(100%,0);
}